<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.recipeservice.recipe.query.mapper.DishMapper">
    <resultMap id="DishResultMap" type="com.ohgiraffers.recipeservice.recipe.query.dto.response.DishDTO">
        <id property="dishNo" column="dish_no"/>
        <result property="userNo" column="user_no"/>
        <result property="dishCategoryNo" column="dish_category_no"/>
        <result property="dishName" column="dish_name"/>
        <result property="dishImgFileRoute" column="dish_img_file_route"/>
        <result property="dishIsMarked" column="dish_is_marked"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="selectDishById" parameterType="int" resultMap="DishResultMap">
        SELECT dish_no,
        user_no,
        dish_category_no,
        dish_name,
        dish_img_file_route,
        dish_is_marked,
        created_at,
        updated_at
        FROM dish
        WHERE dish_no = #{dishNo}
    </select>

    <select id="selectDishesByUser" parameterType="int" resultMap="DishResultMap">
        SELECT * FROM dish WHERE user_no = #{userNo}
    </select>

    <select id="selectDishesByUsername" parameterType="string" resultMap="DishResultMap">
        SELECT
        d.dish_no,
        d.user_no,
        d.dish_category_no,
        d.dish_name,
        d.dish_img_file_route,
        d.dish_is_marked,
        d.created_at,
        d.updated_at
        FROM dish d
        JOIN user u ON d.user_no = u.user_no
        WHERE u.user_id = #{username}
    </select>
</mapper>