<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.recipeservice.recipe.query.mapper.RecipeMapper">
    <resultMap id="RecipeResultMap" type="com.ohgiraffers.recipeservice.recipe.query.dto.response.RecipeDTO">
        <id property="recipeNo" column="recipe_no"/>
        <result property="dishNo" column="dish_no"/>
        <result property="recipeIngredient" column="recipe_ingredient"/>
        <result property="recipeCookery" column="recipe_cookery"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="selectRecipeById" parameterType="int" resultMap="RecipeResultMap">
        SELECT recipe_no,
        dish_no,
        recipe_ingredient,
        recipe_cookery,
        created_at,
        updated_at
        FROM recipe
        WHERE recipe_no = #{recipeNo}
    </select>

    <select id="selectRecipeByDishId" parameterType="int" resultMap="RecipeResultMap">
        SELECT * FROM recipe WHERE dish_no = #{dishNo}
    </select>
</mapper>