server:
  port: 0

eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

spring:
  application:
    name: user-service
  config:
    import:
      - classpath:/bootstrap.yml

# SpringDoc OpenAPI Configuration
springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha

#mybatis:
#  configuration:
#    map-underscore-to-camel-case: true
#  mapper-locations: mappers/**/*.xml
#  type-aliases-package: com.ohgiraffers.userservice.query.dto