<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.ingredientstockservice.ingredientstock.query.mapper.DisposalMapper">
    <select id="getAllDisposalHistoriesByUserNo" resultType="com.ohgiraffers.ingredientstockservice.ingredientstock.command.domain.aggregate.DisposalHistory">
        SELECT
            disposal_no AS id,
            ingredient_stock_no AS ingredientStockNo,
            user_no AS userNo,
            disposal_quantity AS disposalQuantity,
            disposal_cost AS disposalCost,
            disposal_reason AS disposalReason,
            disposal_at AS disposalAt,
            created_at AS createdAt,
            updated_at AS updatedAt
        FROM disposal_histories
        WHERE user_no = #{userNo}
        ORDER BY disposal_at DESC
    </select>
</mapper>