<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.ingredientstockservice.ingredientstock.query.mapper.IngredientStockMapper">

    <select id="getStocksByUserNo" resultType="com.ohgiraffers.ingredientstockservice.ingredientstock.command.domain.aggregate.IngredientStock">
        SELECT
            ingredient_stock_no,
            user_no,
            ingredient_stock_name,
            ingredient_stock_expired_at,
            ingredient_stock_total_quantity,
            ingredient_stock_total_cost,
            ingredient_stock_now_quantity,
            ingredient_stock_category,
            ingredient_stock_unit,
            ingredient_stock_bought_at,
            created_at,
            updated_at
        FROM ingredient_stock
        WHERE user_no = #{userNo}
    </select>
</mapper>