server:
  port: 0

eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

spring:
  application:
    name: ingredient-stock-service
  config:
    import:
      - classpath:/bootstrap.yml

#mybatis:
#  configuration:
#    map-underscore-to-camel-case: true
#  mapper-locations: mappers/**/*.xml
#  type-aliases-package: com.ohgiraffers.userservice.query.dto