server:
  port: 8888
spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: /Users/SinwooKim/Desktop/SWCAMP22/Empty_the_fridge/config
          # /Users/SinwooKim/Desktop/SWCAMP22/Empty_the_fridge/config
